<!-- @for (property of properties; track $index) {



<div class="overflow-hidden rounded-2xl bg-white shadow-md transition hover:shadow-xl">

  <img
    [src]="property.image"
    [alt]="property.title"
    class="h-72 w-full object-cover">

  <div class="p-5">

    <p class="text-sm text-gray-500">
      {{property.location }}
    </p>

    <h3 class="mt-2 text-xl font-semibold">
      {{ property.title }}
    </h3>

    <div class="mt-3 flex items-center justify-between">



      <span class="text-yellow-500">
        ⭐ {{ property.rating }}
      </span>

    </div>

  </div>

</div>
</div>
} -->
